@use "../foundation/variables" as *;

.l-contact {
  .l-top {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    position: relative;
    &__main-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &__content {
      margin-top: 10rem;
      &__list {
        width: 67.6rem;
        display: flex;
        align-self: center;
        justify-content: space-around;
        @include md {
          width: 25.4rem;
          justify-content: space-between;
          margin: 0 auto;
        }
      }
    }
  }
  .l-content {
    margin-top: -14.5rem;
    &__message {
      margin-bottom: 5rem;
      &__require {
        color: $red;
      }
    }
    &__form {
      position: relative;
      width: 66rem;
      margin: 0 auto 20rem;
      @include md {
        width: 33.5rem;
        margin: 0 auto 12rem;
      }
      input[type="radio"] {
        display: none;
        &:checked + .l-content__form__checkbox--name::after {
          content:"";
          display: block;
          position: absolute;
          top: 48%;
          left: -2.3rem;
          width: 7px;
          height: 14px;
          transform: translateY(-50%) rotate(40deg);
          border-bottom: 3px solid $red;
          border-right: 3px solid $red;
        }
      }
      input[type="text"],
      textarea {
        border: 0.1rem solid #B4B4B4;
        width: 100%;
      }
      input[type="text"] {
        font-size: 1.6rem;
      }
      textarea {
        padding: 6rem 2rem 2.2rem;
        min-height: 23rem;
        font-size: 1.6rem;
      }
      input[type="checkbox"] {
        display: none;
        &:checked + .l-content__form__privacyPolicy--btn::after {
          content:"";
          display: block;
          position: absolute;
          top: 45%;
          left: -2.5rem;
          width: 7px;
          height: 14px;
          transform: translateY(-50%) rotate(40deg);
          border-bottom: 3px solid $red;
          border-right: 3px solid $red;
          @include md {
            top: 28%;
          }
        }
      }
      &__checkbox {
        margin: 0 auto 5rem;
        width: 50rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include md {
          display: block;
          width: auto;
        }
        &--cell {
          display: flex;
          @include md {
            justify-content: center;
            margin-bottom: 3.5rem;
          }
        }
        &--name {
          // margin-left: 1rem;
          position: relative;
          &::before {
            content:"";
            display: inline-block;
            width: 2rem;
            height: 2rem;
            border: 0.1rem solid #000;
            position: absolute;
            top: 50%;
            left: -1rem;
            transform: translate(-100%,-50%);
          }
        }
      }
      &__cell {
        margin-bottom: 3rem;
        position: relative;
        &--title {
          position: absolute;
          top: 50%;
          left: 2rem;
          transform: translateY(-50%);
          @include md {
            width: 7.2rem;
          }
        }
        &--title-text {
          position: absolute;
          top: 2.2rem;
          left: 2rem;
        }
      }
      &__name {
        padding: 2.2rem 2rem 2.2rem 14.8rem;
      }
      &__email {
        padding: 2.2rem 2rem 2.2rem 21.8rem;
        @include md {
          padding: 2.2rem 2rem 2.2rem 14.8rem;
        }
      }
      &__email_confirm {
        padding: 2.2rem 2rem 2.2rem 28.6rem;
        @include md {
          padding: 2.2rem 2rem 2.2rem 14.8rem;
          height: 10.4rem;
        }
      }
      &__require_mark {
        color: $red;
        position: absolute;
        top: 50%;
        right: -1rem;
        transform: translate(100%, -50%);
      }
      &__privacyPolicy {
        margin: 5rem 0;
        &--cell {
          display: flex;
          justify-content: center;
          .privacyPolicy__page__link {
            display: inline;
            border-bottom: 0.1rem solid #707070;
          } 
        }
        &--btn {
          position: relative;
          @include md {
            margin-left: 3.5rem;
          }
          &::before {
            content: "";
            width: 2.3rem;
            height: 2.3rem;
            display: block;
            border: 0.1rem solid #707070;
            position: absolute;
            top: 50%;
            left: -1rem;
            transform: translate(-100%, -50%);
            @include md {
              top: 10%;
              transform: translate(-100%, 0%);
            }
          }
        }

      }
      &__btn {
        width: 20rem;
        height: 7rem;
        background: $red;
        display: block;
        margin: 0 auto;
        color: #fff;
        font-family: $YuGothic;
        font-size: 1.6rem;
        font-weight: $bold;
        line-height: calc(30 / 18);
        text-align: center;
      }
      &__confirm {
        
      }
    }
  }
}
