@use "../foundation/variables" as *;

.l-thanks {
  .l-top {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    position: relative;
    &__main-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &__content {
      margin-top: 10rem;
      &__list {
        width: 67.6rem;
        display: flex;
        align-self: center;
        justify-content: space-around;
        @include md {
          width: 25.4rem;
          justify-content: space-between;
          margin: 0 auto;
        }
      }
    }
  }
  .l-content {
    margin-top: -14.5rem;
    margin-bottom: 20rem;
    @include md {
      margin-bottom: 12rem;
    }
    &__message {
      margin-bottom: 5rem;
      @include md {
        margin-bottom: 3rem;
      }
    }
    &__point {
      width: 99rem;
      background: #FAFAFA;
      margin: 0 auto;
      border-radius: 2.8rem;
      @include lg {
        width: 90rem;
      }
      @include md {
        width: 33.5rem;
      }
      &__text {
        padding: 5rem 0;
        width: 64rem;
        margin: 0 auto;
        @include md {
          width: 30rem;
        }
        &__first-point {
          margin-bottom: 3rem;
        }
        &__main-point {
          margin-bottom: 3rem;
        }
      }
    }
  }
}
